img {
  max-height: 300px;
}

a {
  cursor: pointer;
}

.amount {
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background: lightseagreen;
}